.App {
    background-color: #ffffff;
  }
  
  .App-header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
  }
  .App-header img{
    width: 100px;
    height: 100px;
  }
  
  .App-header h1{
    color: #ff0000;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .App-body {
    padding: 40px;
    
  }
  
  .App-footer {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #000000;
    border-top: 1px solid #ff0000;
  }
  .App-footer p {
    color: #000000;
    padding: 0px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }
  
  